{
    "x86_64": [
    {
      "name": "baseos",
      "baseurl": "https://{{ setup_server_rhsatellite_host }}/pulp/content/{{ setup_server_rhsatellite_organization }}/{{ setup_server_rhsatellite_environment }}/{{ setup_server_rhsatellite_contentview }}/content/dist/rhel8/8/x86_64/baseos/os/",
      "rhsm": true
    },
    {
      "name": "appstream",
      "baseurl": "https://{{ setup_server_rhsatellite_host }}/pulp/content/{{ setup_server_rhsatellite_organization }}/{{ setup_server_rhsatellite_environment }}/{{ setup_server_rhsatellite_contentview }}/content/dist/rhel8/8/x86_64/appstream/os/",
      "rhsm": true
    }
  ]
}
