---
builder_blueprint_src_path: /tmp/blueprint.toml
builder_compose_type: edge-commit
builder_pub_key: "~/.ssh/id_rsa.pub"
builder_compose_pkgs:
  - "vim-enhanced"
  - "git"
builder_compose_customizations:
  user:
    name: "core"
    description: "test user"
    password: "openshift"
    key: "{{ builder_pub_key }}"
    groups: '["users", "wheel"]'
