{% if builder_kickstart_options | length > 0 %}
{% for option in builder_kickstart_options %}
{{ option }}
{% endfor %}
{% endif %}

{% if builder_pub_key is defined and builder_pub_key | length > 0  %}
sshkey --username={{ builder_compose_customizations['user']['name'] }} {{ builder_pub_key }}
{% endif %}

{% if builder_kickstart_post is defined and builder_kickstart_post | length > 0 %}
{% for post in builder_kickstart_post %}
{% if post != "" %}
%post
{{ post }}
%end
{% endif %}
{% endfor %}
{% endif %}
